@model ApplicationEventParameterIndexViewModel

@{
    ViewData["Title"] = "Application Events";
    var headerList = new List<Header>() {
        new Header() { Controller = "Home", Text = "Back to Home" },
        new Header() { Text = " / " },
        new Header() { Controller = "ApplicationEventParameter", Text = "Application Event Parameter" } };
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Application Event Parameters</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Settings</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Application Event Parameters</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a class="btn btn-primary" asp-controller="ApplicationEvent" asp-action="Index" asp-route-applicationEventId="@Model.ApplicationEventId">Back To List</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Application Event</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-primary btn-xs" asp-controller="ApplicationEventParameter" asp-action="Create" asp-route-applicationEventId="@Model.ApplicationEventId">Create</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                <label>Parameter Name</label>
                            </th>
                            <th>
                                <label>Description</label>
                            </th>
                            <th>
                                <label>Application Event Name</label>
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.ApplicationEventParameters)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParameterName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApplicationEvent.ApplicationEventName)
                                </td>

                                <td>
                                    <a class="btn btn-primary btn-sm" asp-controller="ApplicationEventParameter" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-white btn-sm" asp-controller="ApplicationEventParameter" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-white btn-sm" asp-controller="ApplicationEventParameter" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
        <link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment names="Development">
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".applicationEventSelect").select2({
                theme: 'bootstrap4',
                placeholder: {
                    id: '-1', // the value of the option
                    text: 'Select an option'
                },
                allowClear: true
            });
        });

        $('.applicationEventSelect').val(null).trigger('change');
    </script>
}